# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/
/build

# Build output
**/build/
captures/

# Mac system files
.DS_Store

# Gradle
.gradle/
build/

# External Native Build
.externalNativeBuild
.cxx/

# Secrets
local.properties
